*{
    margin: 0%;
    padding: 0%;
}

body{
    background: linear-gradient(to right, #74ebd5, #9face6);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.border{
    border: 1px solid black;
    padding: 30px 40px;
    border-radius: 15px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
    width: 350px;
    background-color: white;
    border: none;
}

.border h2{ 
    margin-bottom: 40px;
    text-align: center;
    font-size: 25px;
}

.form-group input{
  width: 330px;
    padding: 10px;
    border-radius: 8px;
    border: 2px solid #ccc;
    font-size: 16px;
    transition: border-color 0.3s;
}

.form-group input:focus{
    border-color: #6c63ff;
    outline: none;
}

.form-group{
    margin-bottom: 15px;
    position: relative;
}

.form-group span{
    color:red;
    font-size: 16px;
    position: absolute;
    margin-bottom: -10px;

}



button{
    width: 100%;
    padding: 10px;
    color: white;
    background-color: #6c63ff;
    border: none;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #594bff;
  }